@media (max-width: 1418px) {
    .right-down-place {
        padding-inline: 52px;
    }

    .hover-scale:hover {
        transform: none;
    }
}

@media (max-width: 1035px) {
    .right-down-place {
        margin-left: 0;
    }

    .down-part-box {
        height: 135px;
    }

    .main-place {
        flex-direction: column;
        padding-top: 30px;
        gap: 16px;
        margin-top: 0;
        align-items: baseline;
    }

    .vector-horizontally {
        display: none;
    }

    .vector-vertikal {
        display: block;
    }

    .header-content-wrapper {
        padding: 0 !important;
    }
}

@media (max-width: 1150px) {
    .dashboard-greeting {
        display: none;
    }

    .greeting {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        transition: opacity 1s ease, transform 1s ease;
    }

    .greeting.hide {
        opacity: 0;
        pointer-events: none;
    }

    .down-part-box {
        width: 90px;
    }

    .center-part {
        justify-content: center;
    }

    .center-summary {
        width: 100%;
    }

    .up-part-box {
        width: 100%;
    }

    .middle-part-box {
        width: 100%;
    }

    .down-part-box {
        width: 100%;
    }
}

@media (max-width: 811px) {
    .right-down-place {
        padding-inline: 16px;
    }

    .join-360 {
        font-size: 47px;
    }
}

@media (max-width: 600px) {
    .up-part {
        justify-content: flex-start;
    }
}

@media (max-width: 510px) {
    .up-part-box {
        width: 184px;
        height: 118px;
    }

    .middle-part-box {
        width: 378px;
        height: 148px;
    }

    .down-part-box {
        width: 119px;
    }
}

@media (max-width: 510px) {
    .down-part-box {
        width: 90px;
    }

    .center-part {
        justify-content: center;
    }

    .center-summary {
        width: 100%;
        margin-top: 48px;
    }

    .up-part-box {
        width: 100%;
    }

    .middle-part-box {
        width: 100%;
    }

    .down-part-box {
        width: 100%;
    }
}

@media (max-width: 345px) {
    .up-part-box {
        height: 128px;
    }

    .middle-part-box {
        height: 128px;
    }

    .down-part-box {
        width: 83px;
    }

    .p-big-number {
        font-size: 40px;
    }

    .ToDo {
        font-size: 14px;
    }
}

@media screen and (max-width: 830px) {
    .middle-part-box {
        gap: 24px;
    }

    .join-360 {
        font-size: 32px;
    }
}