@media (max-width: 1000px) {
  .login-window {
    width: 600px;
    height: 400px;
    gap: 20px;
    padding: 0px;
  }
  .join-header-logo {
    width: 90px;
    height: 90px;
  }

  h1 {
    font-size: 50px;
  }

  .login-separator {
    width: 127px;
  }

  .login-inputs input {
    width: 380px;
    font-size: 16px;
  }
  input::placeholder {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .join-header-logo {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 700px) {
  .join-header-logo {
    width: 70px;
    height: 70px;
  }
  .login-window {
    width: 550px;
    height: 430px;
  }

  .signup-1 {
    font-size: 18px;
  }
  h1 {
    font-size: 40px;
  }
  .login-separator {
    width: 87px;
  }
  .login-btn,
  .guest-login-btn {
    height: 40px;
  }
  .login-btn {
    width: 100px;
  }
  .guest-login-btn {
    width: 130px;
  }
  .login-inputs input {
    width: 370px;
    height: 40px;
  }

  .mail-img,
  .pw-img {
    height: 20px;
    width: 20px;
  }
  .pw-img {
    top: 95px;
  }
  .mail-img {
    top: 12px;
  }
}

@media (max-width: 600px) {
  .login-window {
    width: 460px;
    height: 390px;
  }
}

@media (max-width: 500px) {
  .header-login {
    display: none;
  }
  .login-window {
    margin-top: 130px;
    width: 360px;
    height: 460px;
    margin-bottom: 15px;
  }
  .login-inputs input {
    width: 270px;
    height: 37px;
  }
  .pw-img {
    top: 75px;
  }
  .mail-img {
    top: 10px;
  }
  .login-btns {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .login-btn,
  .guest-login-btn {
    width: 150px;
  }
  .footer-login {
    flex-direction: column;
    gap: 20px;
  }
  .footer-login-signup {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signup-1 {
    font-size: 16px;
  }
  .signup-2 {
    width: 100px;
    height: 45px;
  }
  .footer-btns {
    font-size: 16px;
    gap: 10px;
  }
  .login-inputs {
    gap: 0px;
  }
}

@media (max-width: 400px) {
  .login-window {
    width: 280px;
    height: 400px;
  }
  h1 {
    font-size: 27px;
  }
  .login-separator {
    width: 62px;
  }

  .login-inputs input {
    width: 240px;
    font-size: 16px;
  }
  .login-inputs input::placeholder {
    font-size: 16px;
  }
  .login-btn,
  .guest-login-btn {
    width: 120px;
    height: 30px;
  }
  .login-btns {
    font-size: 16px;
  }
  .signup-1,
  .signup-2 {
    font-size: 16px;
  }
  .signup-2 {
    height: 35px;
  }
  .footer-btns {
    font-size: 16px;
  }

  .pw-img {
    top: 75px;
  }
}
