.flex-end {
    justify-content: flex-end !important;
}

.standard-input-edit-task {
    height: 42px;
    border-radius: 10px;
    padding-top: 12px;
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 21px;
    width: 420px;
}

.description-input-edit-task {
    height: 120px;
    border-radius: 10px;
    padding-top: 18px;
    padding-right: 16px;
    padding-bottom: 18px;
    padding-left: 16px;
    width: 420px;
}

.content-edit-task-dialog {
    height: 696px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.dialog-edit-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 26px;
    width: 420px;
}

.dialog-edit-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 26px;
}

.dialog-edit-due-date {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 36px;
}

.dialog-edit-priority {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.dialog-edit-assigned {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dialog-edit-subtasks {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 420px;
}

.edit-task-btn-container {
    display: flex;
    justify-content: flex-end;
}

.edit-task-ok-btn {
    cursor: pointer;
}

.edit-task-ok-btn:hover .hover-blue-svg {
  fill: #29ABE2;
}

.edit-task-ok-btn:hover path:not(.hover-blue-svg) {
  fill: white;
}

.edit-task-ok-btn path,
.edit-task-ok-btn rect {
  transition: fill 125ms ease-in-out;
}

textarea {
    color: #2a3647;
    font-size: 18px;
    resize: none;
    border: 1px solid #D1D1D1;
}

input.assign::placeholder {
    color: black;
}

.hover-active-border:hover,
.hover-active-border:active,
.hover-active-border:focus {
    border: 1px solid #29ABE2;
    outline: none;
}

.hover-blue-input:hover,
.hover-blue-input:active,
.hover-blue-input:focus-visible,
.hover-blue-input:focus {
    border: 1px solid #29ABE2;
    outline: none;
}

.hover-border:hover {
    border: 1px solid #29ABE2;
    outline: none;
}

.hover-border:active,
.hover-border:focus {
    border: 1px solid #29ABE2;
    border-bottom: none;
    outline: none;
}

.blue-border-input {
    border: 1px solid #29ABE2 !important;
    outline: none;
}

.hover-blue:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.add-task-2 {
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
}

.add-task-2 input {
    width: 420px;
    position: relative;
}

.assigned-to-section {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 125px;
    width: 420px;
}

.frame-39 {
    gap: 10px;
}

.selection {
    font-size: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    height: 42px;
    width: 420px;
    padding-left: 21px;
}

.selection.placeholder {
    color: #d1d1d1;
}

.selection:not(.placeholder) {
    color: #2a3647;
}

#assigned-to-img-down,
#assigned-to-img-up {
    position: absolute;
    right: 15px;
}

.dropdown-img {
    width: 7.21px;
    height: 4.6px;
    top: 50px;
    right: 15px;
    cursor: pointer;
}

.dp-none {
    display: none;
}

.some-height {
    height: 88px !important;
}

.drop-down-contact-list {
    width: 420px;
    height: 250px;
    position: absolute;
    background-color: #ffffff;
    top: 82px;
    z-index: 2;
    border-radius: 10px;
    overflow-y: scroll;
}

.drop-down-container {
    display: flex;
    align-items: center;
}

.d-none-edit-dialog {
    display: none;
}

.edit-dialog-subtask {
    display: flex;
    gap: 16px;
    margin-bottom: 8px;
    border-radius: 10px;
    padding: 4px;
    align-items: center;
    justify-content: space-between;
    height: 32px;
}

.hover:hover {
    background-color: #D1D1D1;
}

.subtask-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 10px;
    position: relative;
}

.subtask-edit-input {
    width: 100%;
    height: 32px;
    border: none;
    padding: 12px 21px;
}

.subtask-edit-input:focus {
    outline: none;
}

.input-container-subtask {
    display: flex;
    width: 420px;
    border-bottom: 1px solid #29ABE2;
}

.subtask-edit-page-icons {
    width: 24px;
    height: 24px;
}

.subtask-edit-page-icons:hover {
    border-radius: 40%;
    background-color: #ababab;
}

.subtask-icons-d-none {
    display: none;
}

.subtask-text {
    word-break: break-all;
}

.input-container-add-subtask {
    display: flex;
    align-items: center;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
}

.noborder-input {
    border: 0;
}

.noborder-input:focus {
    outline: 0 !important;
}

.btns-new-subtask {
    display: flex;
    gap: 15px;
    margin-right: 2px;
}

.visibility-hidden {
    display: none;
}

.selected-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}

.extra-avatar {
  background-color: #2a3647;
}

.assigned-to-input-container {
    display: flex;
    align-items: center;
}

.assigned-to-img {
    position: absolute;
    cursor: pointer;
    right: 15px;
}

.border-show-menu {
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}