.content {
    padding-inline: 80px;
    padding-block: 64px;
    margin-left: 260px;
    max-width: 1400px;
}

.board-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 62px;
    font-weight: 700;
    line-height: 120%;
}

.board-header-btn-input {
    display: flex;
    gap: 32px;
}

.board_header_input {
    width: 336px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    background: #FFFFFF;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.board_header_input:focus-within {
    border: 1px solid #29ABE2;
}

.board_header_input input {
    border: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}

.board_header_input input:focus {
    outline: none;
}

::placeholder {
    color: #D1D1D1;
}

.board_separator_header_input {
    height: 32px;
    width: 1px;
    background-color: #D1D1D1;
}

.search_icon_btn {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.search_icon_btn:hover {
    background: rgb(218, 218, 218);
}

.search_container {
    display: flex;
    align-items: center;
    width: 48px;
    height: 32px;
    gap: 16px;
}

.add_task_header_btn {
    width: 160px;
    height: 48px;
    border-radius: 10px;
    border-width: 1px;
    padding: 8px 16px;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    background: #2A3647;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.columns-items {
    margin-top: 48px;
    display: flex;
    justify-content: space-around;
    gap: 26px;
    padding: 0 64px 0 0;
}

.status_title {
    display: flex;
    justify-content: space-between;
    width: 260px;
}

.status_title img {
    cursor: pointer;
}

.status_title img:hover {
    content: url(../assets/img/board_icons/plus_button_hover.svg);
}

.status_title h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #42526E;
}

.status-content {
    margin-top: 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.empty-task {
    text-align: center;
    height: 48px;
    background-color: #E7E7E7;
    font-family: "Open Sans", sans-serif;
    color: #A8A8A8;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashed-border {
    border: 1px dashed #A8A8A8;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #00000029;
    background-color: #E7E7E7;
}

.d-none {
    display: none;
}

.status-card {
    width: 260px;
    border-radius: 24px;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px #00000014;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.user-story-label {
    display: flex;
    width: 113px;
    height: 27px;
    padding: 4px 16px;
    border-radius: 8px;
    background: #0038FF;
}

.tehnical-task-label {
    display: flex;
    width: 144px;
    height: 27px;
    padding: 4px 16px;
    border-radius: 8px;
    background: #1FD7C1;
}

.typography-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: white;
}

.typography-card-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 8px;
}

.typography-card-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #A8A8A8;
}

.progress-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.progress-bar-container {
    width: 128px;
    height: 8px;
    border-radius: 16px;
    background: #F4F4F4;
}

.progress-bar {
    height: 8px;
    background: #4589FF;
    border-radius: 16px;
}

.progress-text {
    font-size: 12px;
}

.contacts-priority-container {
    display: flex;
    justify-content: space-between;
}

.profile-badge {
    width: 36px;
    height: 36px;
}

.margin-left-contacts {
    margin-left: -16px;
}

.priority-symbol {
    width: 32px;
    height: 32px;
}