<aside class="sidebar">
  <img src="../../assets/icons/join-main-logo.png" alt="Join Logo" class="logo" />

  <nav class="nav-menu">
    <a href="../../pages/summary.html" class="nav-link">
      <img src="../../assets/icons/icon-summary.png" alt="Summary Icon" />
      <span>Summary</span>
    </a>
    <a href="../../pages/add_task.html" class="nav-link active">
      <img src="../../assets/icons/icon-add-task.png" alt="Add Task Icon" />
      <span>Add Task</span>
    </a>
    <a href="../../pages/board.html" class="nav-link">
      <img src="../../assets/icons/icon-board.png" alt="Board Icon" />
      <span>Board</span>
    </a>
    <a href="../../pages/contacts.html" class="nav-link">
      <img src="../../assets/icons/icon-contacts.png" alt="Contacts Icon" />
      <span>Contacts</span>
    </a>
  </nav>
  <div class="sidebar-footer">
    <a href="../../pages/privacy_policy.html">Privacy Policy</a>
    <a href="../../pages/legal_notice.html">Legal Notice</a>
  </div>
</aside>
<header class="app-header">
  <h1 class="app-title">Kanban Project Management Tool</h1>
  <div class="header-actions">
    <a href="../../pages/help.html" class="help-link">
      <img src="../../assets/icons/help.svg" alt="Help" />
    </a>
    <div class="user-circle" id="initialLetter">G</div>
  </div>
</header>