<header class="header-general">
  <div class="header-content-wrapper">
    <p class="header-p">Kanban Project Management Tool</p>

    <div class="header-left">
      <a href="../../help_Login.html" class="help-icon"><img src="./assets/icons/help.svg"
          alt="Go to Help Site" /></a>

    </div>
  </div>
</header>
<div class="log" id="log"></div>
<main onclick="closeContactList(); closeCategoryList();" class="main-add-task">
  <nav class="frame-3">
    <img class="frame-3-icon" src="./assets/icons/join-main-logo.png" alt="Join Logo" />
    <div class="frame-3-menu">
      <a href="../../index.html">
        <div class="menu-btns">
          <img class="menu-icon" src="./assets/icons/LogIn.svg" alt="icon-summary" />
          <p>Log In</p>
        </div>
      </a>
    </div>
    <div class="frame-22">
      <a href="./privacy_policy_login.html">
        <p class="frame-22-btns">Privacy Policy</p>
      </a>
      <a href="./legal_notice_login.html">
        <p class="frame-22-btns">Legal Notice</p>
      </a>
    </div>
  </nav>