.content {
    padding-inline: 96px;
    padding-block: 110px;
}

.board-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 62px;
    font-weight: 700;
    line-height: 120%;
}

.board-header-btn-input {
    display: flex;
    gap: 32px;
}

.board_header_input {
    width: 336px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    background: #FFFFFF;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.board_header_input:focus-within {
    border: 1px solid #29ABE2;
}

.board_header_input input {
    border: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}

.board_header_input input:focus {
    outline: none;
}

::placeholder {
    color: #D1D1D1;
}

.board_separator_header_input {
    height: 32px;
    width: 1px;
    background-color: #D1D1D1;
}

.search_icon_btn {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.search_icon_btn:hover {
    background: rgb(218, 218, 218);
}

.search_container {
    display: flex;
    align-items: center;
    width: 48px;
    height: 32px;
    gap: 16px;
}

.add_task_header_btn {
    width: 160px;
    height: 48px;
    border-radius: 10px;
    border-width: 1px;
    padding: 8px 16px;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    background: #2A3647;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.columns-items {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    width: 1208px;
    height: 24px;
}

.status_title {
    display: flex;
    justify-content: space-between;
    width: 244px;
}

.status_title h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #42526E;
}

.status-content {
    margin-top: 16px;
}

.empty-task {
    text-align: center;
    width: 246px;
    height: 48px;
    background-color: #E7E7E7;
    font-family: "Open Sans", sans-serif;
    color: #A8A8A8;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashed-border {
    border: 1px dashed #A8A8A8;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #00000029;
    background-color: #E7E7E7;
}

.d_none {
    display: none;
}