/* Navbar */

.footer-resp {
  display: none;
}

.frame-3 {
  width: 230px;
  background-color: #2a3647;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 100vh;
  padding-top: 64px;
  padding-bottom: 64px;
}

.frame-3-icon {
  width: 100px;
  height: 121px;
}

.frame-3-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #cdcdcd;
  height: 46px;
  width: 232px;
  padding: 8px 56px;
}

.menu-btns:hover {
  cursor: pointer;
  background-color: #131820;
}

.menu-icon {
  width: 30px;
  height: 30px;
}

.frame-22 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.frame-22-btns {
  width: 121px;
  height: 35px;
  color: #cdcdcd;
}

.frame-22-btns:hover {
  cursor: pointer;
  color: #29abe2;
  transform: scale(1.05);
  font-weight: 700;
}

.subMenu {
  background-color: #2a3647;
  width: 150px;
  height: 158px;
  position: absolute;
  top: 110px;
  right: 40px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.subMenu-btns {
  padding: 10px;
  color: #cdcdcd;
}
.subMenu-btns:hover {
  cursor: pointer;
  background-color: #2a3d59;
}

.dp-none {
  display: none;
}

.subMenu {
  animation-duration: 0.25s;
  animation-name: slide-in;
}

@keyframes slide-in {
  from {
    top: 110px;
    right: -280px;
  }

  to {
    top: 110px;
    right: 40px;
  }
}

/* Header  */

.header-general {
  display: flex;
  justify-content: space-between;
  height: 96px;
  width: 100%;
  padding: 20px 40px 20px 348px;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.header-icon {
  border: 3px solid #2a3647;
  border-radius: 50%;
  padding: 10px;
  font-weight: 700;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icon:hover {
  cursor: pointer;
  background-color: #7d7f8149;
}

.light-blue {
  color: #29abe2;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.help-icon {
  width: 20px;
  height: 20px;
}

.help-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.frame-3-icon-header {
  display: none;
}

@media (max-width: 800px) {
  header {
    padding-left: 40px !important;
  }

  .header-p {
    display: none;
  }

  .frame-3 {
    display: none;
  }

  .footer-resp {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(42, 54, 71, 1);
    height: 80px;
    width: 100%;
    bottom: 0px;
  }

  .menu-btns-resp:hover {
    cursor: pointer;
    background-color: #131820;
    border-radius: 20px;
  }

  .menu-btns-resp {
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 1);
    font-size: 15.5px;
    align-items: center;
    justify-content: center;
    height: 76px;
    width: 76px;
  }

  .menu-btn-icon-resp {
    height: 24px;
    width: 24px;
  }

  .frame-3-icon-header {
    display: block;
    height: 64px;
  }
}
