h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 120%;
}

h2 {
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
    margin-top: 20px;
}

h3 {
    font-size: 20px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-inline: 100px;
    padding-block: 64px;
    margin-left: 200px;
    max-width: 1400px;
    word-break: break-all;
}

a {
    color: #29ABE2;
    ;
}

li {
    margin-bottom: 8px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

.usage-steps {
    padding-left: 1.5rem;
}

.usage-steps li {
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 16px;
}

.usage-steps li::marker {
    font-size: 20px;
}



@media (max-width: 1418px) {
    .header-content-wrapper {
        padding: 20px 10px 20px 248px !important;
    }

    .content {
        padding-inline: 52px;
    }
}

@media (max-width: 1035px) {
    .header-general {
        padding: 20px 40px 20px 52px !important;
    }

    .header-p {
        display: block !important;
    }

    .header-content-wrapper {
        padding: 0 !important;
    }

    .content {
        margin-left: 0;
        margin-bottom: 100px;
        padding-inline: 52px;
    }
}

@media (max-width: 811px) {
    .header-general {
        padding: 20px 16px 20px 16px !important;
    }

    .header-p {
        font-size: 14px;
    }

    .content {
        padding-inline: 16px;
    }

    h1 {
        font-size: 47px;
        word-break: auto-phrase;
    }

    h2 {
        word-break: auto-phrase;
    }
}