* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: #F6F7F8;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("./assets/font/Inter-VariableFont_opsz\,wght.ttf") format("ttf");
  }

  a {
    text-decoration: none;
}